<header id="site-header" class="header-footer-group" role="banner">
  <div class="header-inner section-inner">
    <div class="header-titles-wrapper">
      <button class="toggle search-toggle mobile-search-toggle" data-toggle-target=".search-modal"
        data-toggle-body-class="showing-search-modal" data-set-focus=".search-modal .search-field"
        aria-expanded="false">
        <span class="toggle-inner">
          <span class="toggle-icon">
            <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg"
              width="23" height="23" viewbox="0 0 23 23">
              <path
                d="M38.710696,48.0601792 L43,52.3494831 L41.3494831,54 L37.0601792,49.710696 C35.2632422,51.1481185 32.9839107,52.0076499 30.5038249,52.0076499 C24.7027226,52.0076499 20,47.3049272 20,41.5038249 C20,35.7027226 24.7027226,31 30.5038249,31 C36.3049272,31 41.0076499,35.7027226 41.0076499,41.5038249 C41.0076499,43.9839107 40.1481185,46.2632422 38.710696,48.0601792 Z M36.3875844,47.1716785 C37.8030221,45.7026647 38.6734666,43.7048964 38.6734666,41.5038249 C38.6734666,36.9918565 35.0157934,33.3341833 30.5038249,33.3341833 C25.9918565,33.3341833 22.3341833,36.9918565 22.3341833,41.5038249 C22.3341833,46.0157934 25.9918565,49.6734666 30.5038249,49.6734666 C32.7048964,49.6734666 34.7026647,48.8030221 36.1716785,47.3875844 C36.2023931,47.347638 36.2360451,47.3092237 36.2726343,47.2726343 C36.3092237,47.2360451 36.347638,47.2023931 36.3875844,47.1716785 Z"
                transform="translate(-20 -31)" /></svg> </span>
          <span class="toggle-text">Search</span>
        </span>
      </button><!-- .search-toggle -->
      <div class="header-titles">
        <div class="site-title faux-heading"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></div>
      </div><!-- .header-titles -->

      <button class="toggle nav-toggle mobile-nav-toggle" data-toggle-target=".menu-modal"
        data-toggle-body-class="showing-menu-modal" aria-expanded="false" data-set-focus=".close-nav-toggle">
        <span class="toggle-inner">
          <span class="toggle-icon">
            <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg"
              width="26" height="7" viewbox="0 0 26 7">
              <path fill-rule="evenodd"
                d="M332.5,45 C330.567003,45 329,43.4329966 329,41.5 C329,39.5670034 330.567003,38 332.5,38 C334.432997,38 336,39.5670034 336,41.5 C336,43.4329966 334.432997,45 332.5,45 Z M342,45 C340.067003,45 338.5,43.4329966 338.5,41.5 C338.5,39.5670034 340.067003,38 342,38 C343.932997,38 345.5,39.5670034 345.5,41.5 C345.5,43.4329966 343.932997,45 342,45 Z M351.5,45 C349.567003,45 348,43.4329966 348,41.5 C348,39.5670034 349.567003,38 351.5,38 C353.432997,38 355,39.5670034 355,41.5 C355,43.4329966 353.432997,45 351.5,45 Z"
                transform="translate(-329 -38)" /></svg> </span>
          <span class="toggle-text">Menu</span>
        </span>
      </button><!-- .nav-toggle -->

    </div><!-- .header-titles-wrapper -->

    <div class="header-navigation-wrapper">
      <nav class="primary-menu-wrapper" aria-label="Horizontal" role="navigation">
        <ul class="primary-menu reset-list-style">
          {{ range .Site.Menus.desktop }}
          <li class="menu-item"><a href="{{ .URL | absURL }}" aria-current="page">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav><!-- .primary-menu-wrapper -->

      <div class="header-toggles hide-no-js">
        <div class="toggle-wrapper nav-toggle-wrapper has-expanded-menu">
          <button class="toggle nav-toggle desktop-nav-toggle" data-toggle-target=".menu-modal"
            data-toggle-body-class="showing-menu-modal" aria-expanded="false" data-set-focus=".close-nav-toggle">
            <span class="toggle-inner">
              <span class="toggle-text">Menu</span>
              <span class="toggle-icon">
                <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg"
                  width="26" height="7" viewbox="0 0 26 7">
                  <path fill-rule="evenodd"
                    d="M332.5,45 C330.567003,45 329,43.4329966 329,41.5 C329,39.5670034 330.567003,38 332.5,38 C334.432997,38 336,39.5670034 336,41.5 C336,43.4329966 334.432997,45 332.5,45 Z M342,45 C340.067003,45 338.5,43.4329966 338.5,41.5 C338.5,39.5670034 340.067003,38 342,38 C343.932997,38 345.5,39.5670034 345.5,41.5 C345.5,43.4329966 343.932997,45 342,45 Z M351.5,45 C349.567003,45 348,43.4329966 348,41.5 C348,39.5670034 349.567003,38 351.5,38 C353.432997,38 355,39.5670034 355,41.5 C355,43.4329966 353.432997,45 351.5,45 Z"
                    transform="translate(-329 -38)" /></svg> </span>
            </span>
          </button><!-- .nav-toggle -->
        </div><!-- .nav-toggle-wrapper -->

        <div class="toggle-wrapper search-toggle-wrapper">
          <button class="toggle search-toggle desktop-search-toggle" data-toggle-target=".search-modal"
            data-toggle-body-class="showing-search-modal" data-set-focus=".search-modal .search-field"
            aria-expanded="false">
            <span class="toggle-inner">
              <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg"
                width="23" height="23" viewbox="0 0 23 23">
                <path
                  d="M38.710696,48.0601792 L43,52.3494831 L41.3494831,54 L37.0601792,49.710696 C35.2632422,51.1481185 32.9839107,52.0076499 30.5038249,52.0076499 C24.7027226,52.0076499 20,47.3049272 20,41.5038249 C20,35.7027226 24.7027226,31 30.5038249,31 C36.3049272,31 41.0076499,35.7027226 41.0076499,41.5038249 C41.0076499,43.9839107 40.1481185,46.2632422 38.710696,48.0601792 Z M36.3875844,47.1716785 C37.8030221,45.7026647 38.6734666,43.7048964 38.6734666,41.5038249 C38.6734666,36.9918565 35.0157934,33.3341833 30.5038249,33.3341833 C25.9918565,33.3341833 22.3341833,36.9918565 22.3341833,41.5038249 C22.3341833,46.0157934 25.9918565,49.6734666 30.5038249,49.6734666 C32.7048964,49.6734666 34.7026647,48.8030221 36.1716785,47.3875844 C36.2023931,47.347638 36.2360451,47.3092237 36.2726343,47.2726343 C36.3092237,47.2360451 36.347638,47.2023931 36.3875844,47.1716785 Z"
                  transform="translate(-20 -31)" /></svg> <span class="toggle-text">Search</span>
            </span>
          </button><!-- .search-toggle -->
        </div>
      </div><!-- .header-toggles -->
    </div><!-- .header-navigation-wrapper -->
  </div><!-- .header-inner -->

  <div class="search-modal cover-modal header-footer-group" data-modal-target-string=".search-modal">
    <div class="search-modal-inner modal-inner">
      <div class="section-inner">
        <form role="search" class="search-form" action="{{ `search`| relLangURL }}">
          <label for="search-form-1">
            <span class="screen-reader-text">Search for:</span>
            <input id="search-query" type="search" class="search-field" placeholder="Search &hellip;"
              name="s"/>
          </label>
          <input type="submit" class="search-submit" value="Search" />
        </form>

        <button class="toggle search-untoggle close-search-toggle fill-children-current-color"
          data-toggle-target=".search-modal" data-toggle-body-class="showing-search-modal"
          data-set-focus=".search-modal .search-field" aria-expanded="false">
          <span class="screen-reader-text">Close search</span>
          <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg"
            width="16" height="16" viewbox="0 0 16 16">
            <polygon fill="" fill-rule="evenodd"
              points="6.852 7.649 .399 1.195 1.445 .149 7.899 6.602 14.352 .149 15.399 1.195 8.945 7.649 15.399 14.102 14.352 15.149 7.899 8.695 1.445 15.149 .399 14.102" />
          </svg> </button><!-- .search-toggle -->
      </div><!-- .section-inner -->
    </div><!-- .search-modal-inner -->
  </div><!-- .menu-modal -->
</header>


<div class="menu-modal cover-modal header-footer-group" data-modal-target-string=".menu-modal">
  <div class="menu-modal-inner modal-inner">
    <div class="menu-wrapper section-inner">
      <div class="menu-top">
        <button class="toggle close-nav-toggle fill-children-current-color" data-toggle-target=".menu-modal"
          data-toggle-body-class="showing-menu-modal" aria-expanded="false" data-set-focus=".menu-modal">
          <span class="toggle-text">Close Menu</span>
          <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg"
            width="16" height="16" viewbox="0 0 16 16">
            <polygon fill="" fill-rule="evenodd"
              points="6.852 7.649 .399 1.195 1.445 .149 7.899 6.602 14.352 .149 15.399 1.195 8.945 7.649 15.399 14.102 14.352 15.149 7.899 8.695 1.445 15.149 .399 14.102" />
          </svg> </button><!-- .nav-toggle -->
        <nav class="expanded-menu" aria-label="Expanded" role="navigation">
          <ul class="modal-menu reset-list-style">
            {{ range .Site.Menus.main }}
            <li class="menu-item menu-item-type-custom menu-item-object-custom">
              <div class="ancestor-wrapper"><a href="{{ .URL | absURL }}" aria-current="page">{{ .Name }}</a></div>
            </li>
            {{ end }}
          </ul>
        </nav>
        <nav class="mobile-menu" aria-label="Mobile" role="navigation">
          <ul class="modal-menu reset-list-style">
            {{ range .Site.Menus.main }}
            <li class="menu-item menu-item-type-custom menu-item-object-custom">
              <div class="ancestor-wrapper"><a href="{{ .URL | absURL }}" aria-current="page">{{ .Name }}</a></div>
            </li>
            {{ end }}
          </ul>
        </nav>
      </div><!-- .menu-top -->
      <div class="menu-bottom">
        <nav aria-label="Expanded Social links" role="navigation">
          {{partial "social.html" .}}
        </nav><!-- .social-menu -->
      </div><!-- .menu-bottom -->
    </div><!-- .menu-wrapper -->
  </div><!-- .menu-modal-inner -->
</div>